@import '~styles/variables';

#header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  display: flex;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin: 0 auto;
  height: $header-height;
  align-items: center;
  background: #fafafa;
  box-shadow: 1px 1px rgba(0,0,0,0.14);
  z-index: 9;
}