.main-page {
  margin-top: 3.5rem;
}

.main-header {
  padding-top: 4rem;
  padding-bottom: 4.5rem;
  margin: 0 auto;
  text-align: center;


  h1 {
    margin: 0;
    font-size: 3rem;
  }

  p {
    padding-top: 0.8rem;
    font-weight: 300;
    font-size: 1.4rem;
  }
}