@import '~styles/variables';
@import '~open-color/open-color';

.sidebar {
  position: absolute;
  top: $header-height;
  right: auto;
  bottom: 0;
  left: 0;
  width: $sidebar-width;
  background-color: $oc-gray-9;
  line-height: $sidebar-width;
  border-right: 2px solid $oc-gray-7;

  z-index: 8;
}