// import external styles to App.scss
// normalize
@import '~normalize-scss/sass/normalize/import-now';
@import '~styles/typography';
@import '~open-color/open-color';

body {
  font-family: Montserrat;
  color: $oc-gray-8;
  background: $oc-gray-0;
  text-decoration: none;
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
}