.project-card-wrapper {
  width: 30%;
  padding: 0.5rem;
}

.project-card {
  background: #ffffff;
  color: #444444;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  position: relative;
  top: 0;
  transition: all .1s ease-in;
  cursor: pointer;

  &:hover {
    top: -2px;
    box-shadow: 0 4px 5px rgba(0,0,0,0.2);
  }

  .project-image {
    img {
      height: auto;
      max-width: 100%;
      vertical-align: middle;
    }
  }

  .project-info {
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;

    .project-name {
      font-size: 1.8rem;
      font-weight: 700;
      letter-spacing: -0.2px;
      margin-bottom: 0.5rem;
    }
    
    .project-description {
      font-size: 1rem;
    }
  }
}